@using  GithubAPI.Models
@model  ObjStructure
@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<table>
    <thead>
        <tr>
            <th colspan="10"><h1 class="font-italic">@Model.generalInfo.name &nbsp;</h1></th>
            <th colspan="5">
                <span class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Favoritar", "Favorites", "Repositories", Model.generalInfo)</span>
            </th>
        </tr>
    </thead>
</table>

<div class="body-content panel-body">
    <section class="panel">
        <div class="bio-row">
            <span class="font-weight-bold">Descrição:</span>
            <p class="bio-info">@Model.generalInfo.description</p>
        </div>
        <div class="bio-row">
            <span class="font-weight-bold">Linguagem:</span>
            <p class="bio-info">@Model.generalInfo.language</p>
        </div>
        <div class="bio-row">
            <span class="font-weight-bold">Última atualização:</span>
            <p class="bio-info">@Model.generalInfo.updated_at</p>
        </div>
        <div class="bio-row">
            <span class="font-weight-bold">Dono do repositório:</span>
            <p class="bio-info">@Model.generalInfo.full_name.Split('/')[0]</p>
        </div>
        <div class="bio-row">
            <span class="font-weight-bold">Colaboradores:</span>
            @if (Model.collaborators.Count == 0) {
                <p class="alert">Sem contribuidores nesse repositório.</p>
            } else {
                var collabs = string.Empty;
                foreach (var collab in Model.collaborators) {
                    collabs += $"{collab.login}, ";
                }
                collabs = collabs.Remove(collabs.Length - 2);
                <p>@collabs</p>
            }
        </div>

    </section>
    <br/>
    <button onclick="history.back();" title="Voltar a página anterior" class="btn btn-sm btn-secondary">Voltar</button>
</div>


